@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Hairline'), local('Montserrat-Hairline'), url('../fonts/monstserrat/montserrathairline.woff2') format('woff2'), url('../fonts/monstserrat/montserrathairline.woff') format('woff'), url('../fonts/monstserrat/montserrathairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/monstserrat/montserratlight.woff2') format('woff2'), url('../fonts/monstserrat/montserratlight.woff') format('woff'), url('../fonts/monstserrat/montserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('../fonts/monstserrat/montserrat.woff2') format('woff2'), url('../fonts/monstserrat/montserrat.woff') format('woff'), url('../fonts/monstserrat/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/monstserrat/montserratbold.woff2') format('woff2'), url('../fonts/monstserrat/montserratbold.woff') format('woff'), url('../fonts/monstserrat/montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black'), local('Montserrat-Black'), url('../fonts/monstserrat/montserratblack.woff2') format('woff2'), url('../fonts/monstserrat/montserratblack.woff') format('woff'), url('../fonts/monstserrat/montserratblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
